body {
    font-family: 'Courier New', Courier, monospace;
    background-color:white;
}

#app {
    height:100vh;
    background-color:white;
}

.route-container {
    min-height:400px !important;
    background-color:white;
}

.page {
    min-height:400px;
}

#banner {
    background-color: lightgrey;
    background-size:cover;
    background-image:url('/app_images/header.png');
    color:whitesmoke;
    text-shadow: lightgrey 1px 1px;
    font-weight:bold;
    font-size:44px;
    font-family: Helvetica;
}

#banner #subheading {
    font-size:22px;
    text-shadow: darkgrey 2px 2px
}

.menu-item {
    min-width:100px;
    margin-right:2px !important;
}

.legacy {
    margin-right:10px !important;
}

.section_title {
    color:white;
}

.isactive {
    border:1px solid yellow !important;
    background-color:darkred !important;
    color:white;
}