body {
    font-family: 'Courier New', Courier, monospace
}

#banner {
    background-color: lightgrey;
    background-image:url('/app_images/header.avif');
    color:whitesmoke;
    text-shadow: lightgrey 1px 1px;
    font-weight:bold;
    font-size:44px;
    font-family: Helvetica;
}

#banner #subheading {
    font-size:22px;
    text-shadow: grey 1px 1px
}